* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    
    
}.main_container {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
}

.main_container2 {
    position: relative;

}

.container_one {
    /* background: #03452d;  */
    background: -webkit-linear-gradient(left, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    width: 100%;
    height: 600px;
    margin-bottom: 25px;
    overflow: visible;
    /* position: relative; */
}

.row {
    margin: 10px;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .column1 {
      flex: 30%;
      
  }

  .column1 img {
      width: 80%;
      height: 100%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      object-fit: cover;
      transition: all 0.75s ease-in-out;
      float: left;
  }

  #photos {
    border-radius: 10px;
    opacity: 1;
    transition: all 500ms ease;
    width: 400px;
    height: 550px;
    margin-left: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4000ms;
}

  .column2 {
      flex: 70%;
      padding: 100px 5px;
      text-align: right;
      
  }
    .column2 h3 {

        font-size: 2rem;
        padding: 2rem 2rem;
        color: #585858;
        font-weight: lighter;
        text-transform: lowercase;
        color: white;
        float: right;
    }

    .column2 h1 {
        text-transform: lowercase;
        color: white;
        font-size: 180px;
        padding-top: 100px;
        padding-left: 200px; 
        z-index: 1;
        
        
    }

.search_row {
    margin: 0;
    padding: 10px;
    /* width: 80%; */
    height: 100px;
    background: #f97300;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #3d262a;
}

#select {
    width: 40px;
    height: 20px;
}
.middle_container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0%;
  }

  .bottom_container {
      background: white;
      text-align: center;
  }


.btn h4 {
    font-size: 1rem;
}

button {
    border: 0;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 10px;
  }

  .bottom_container {
    height: 400px;
    justify-content: center;
    align-items: center;
    
  }

  .bottom_container h2{
      font-size: 24px;
      font-weight: 100px;
      color: #3d262a;

  }

  #wisdom {
      margin: 15px;
      padding: 30px;
      width: 80%;
      align-items: center;
      margin-left: 190px;
      
  }

 
